<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ArticleCsvPath" value="article.csv" />
		<add key="WebsiteCsvPath" value="website.csv" />
		<add key="YoutubeCsvPath" value="youtube.csv" />
		<add key="AdHocCsvPath" value="adhoc.csv"/>
	</appSettings>
</configuration>
