<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linker.Mvc</title>
    <partial name="_CssTagsPartial" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="flex justify-between px-20 py-4 border-b border-solid border-gray-300 drop-shadow items-center">
        <div>
            <a asp-controller="Home" asp-action="Index" class="text-3xl font-semibold tracking-wide">Linker</a>
        </div>
        <nav>
            <ul class="flex gap-4">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Website" asp-action="Index">Websites</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Youtube" asp-action="Index">Articles</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="absolute h-[100px] bg-gray-100 flex items-center justify-center bottom-0 left-0 w-full">
        <div class="container">
            &copy; 2024 - Linker.Mvc - <a bold asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <email recipient="mumk0313"></email>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_SomeScriptsPartial" />
</body>
</html>
