<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linker.Mvc</title>
    <partial name="_CssTagsPartial" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div>
        <header class="flex justify-between px-2 py-1 border-b border-solid border-black items-center uppercase text-sm">
            <nav class="flex-1">
                <ul class="flex gap-4">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Website" asp-action="Index">Websites</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Youtube" asp-action="Index">Articles</a>
                    </li>
                </ul>
            </nav>
            <div class="flex-1 flex justify-center">
                <a asp-controller="Home" asp-action="Index" class="block text-2xl font-bold tracking-wide">Linker</a>
            </div>
            <div class="flex-1 flex justify-end">
                <a>Login</a>
            </div>
        </header>
        <div class="border-b border-solid border-black flex px-2 gap-4 text-sm">
            <button class="block py-2">Search</button>
            <input class="block w-full py-2 outline-none" placeholder="WHAT ARE YOU LOOKING FOR?" />
        </div>
    </div>

    <div class="max-w-screen-2xl mx-auto mt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="absolute h-[100px] bg-gray-100 flex items-center justify-center bottom-0 left-0 w-full">
        <div class="container">
            &copy; 2024 - Linker.Mvc - <a bold asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <email recipient="mumk0313"></email>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_SomeScriptsPartial" />
</body>
</html>
