<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linker.Mvc</title>
    <partial name="_CssTagsPartial" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div>
        <header class="flex justify-between px-2 py-1 border-b border-solid border-black items-center uppercase text-sm">
            <nav class="flex-1">
                <ul class="flex gap-4">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Website" asp-action="Index">Websites</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Youtube" asp-action="Index">Youtube</a>
                    </li>
                </ul>
            </nav>
            <div class="flex-1 flex justify-center">
                <a asp-controller="Home" asp-action="Index" class="block text-2xl font-bold tracking-wide">Linker</a>
            </div>
            <div class="flex-1 flex justify-end gap-4 items-center">
                <div><a>Login</a></div>
                <div class="text-xl"><i class="bi bi-bookmark"></i></div>
                <div class="text-xl"><i class="bi bi-briefcase"></i></div>
            </div>
        </header>
        <div class="border-b border-solid border-black flex px-2 gap-4 text-sm">
            <button class="block py-2">
                <i class="bi bi-search"></i>
            </button>
            <input class="block w-full py-2 outline-none" placeholder="WHAT ARE YOU LOOKING FOR?" />
        </div>
    </div>

    <div class="max-w-screen-2xl mx-auto my-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="flex items-center justify-center border-t border-solid border-black py-3">
        <div class="container">
            &copy; 2024 - Linker.Mvc - <a bold asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <email recipient="mumk0313"></email>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Even though libraries like jQuery are included here, it is not available for other individual pages to use, which is weird. -->
    <partial name="_SomeScriptsPartial" />
</body>
</html>
