@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    var httpContext = httpContextAccessor.HttpContext;
    var isLoggedIn = httpContext?.User.Identity?.IsAuthenticated ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linker.Mvc</title>
    <partial name="_CssTagsPartial" />
    <partial name="_ContentSecurityPolicy" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div>
        <header class="flex justify-between px-2 py-1 border-b border-solid border-black items-center uppercase text-sm">
            <nav class="flex-1">
                <ul class="flex gap-4">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Link" asp-action="Index">Links</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Link" asp-action="Articles">Articles</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Link" asp-action="Websites">Websites</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Link" asp-action="Youtube">Youtube</a>
                    </li>
                    @*
                        For some reason, Mvc does not allow passing data as query parameter for GET request.
                    <li>
                        <a asp-area="" asp-controller="Link" asp-action="ByType" asp-route-type="Website">Websites</a>
                    </li>
                    *@
                </ul>
            </nav>
            <div class="flex-1 flex justify-center">
                <a asp-controller="Home" asp-action="Index" class="block text-2xl font-bold tracking-wide">Linker</a>
            </div>
            <div class="flex-1 flex justify-end gap-4 items-center">
                <div>
                    @if (isLoggedIn)
                    {
                        <a asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
                    }
                </div>
                <div class="text-xl">
                    <a asp-area="" asp-controller="Playlist" asp-action="Index" title="Playlists">
                        <i class="bi bi-bookmark"></i>
                    </a>
                </div>
                <div class="text-xl"><i class="bi bi-bell"></i></div>
                <div class="text-xl">
                    <a asp-area="" asp-controller="Workspace" asp-action="Index" title="Workspaces">
                        <i class="bi bi-briefcase"></i>
                    </a>
                </div>
                <div class="text-xl">
                    <a asp-area="" asp-controller="User" asp-action="Index" title="Profile">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
            </div>
        </header>
        <form
            method="get"
            asp-controller="Link"
            asp-action="Search"
            class="border-b border-solid border-black flex px-2 gap-4 text-sm"
        >
            <button class="block py-2">
                <i class="bi bi-search"></i>
            </button>
            <input class="block w-full py-2 outline-none" name="q" placeholder="WHAT ARE YOU LOOKING FOR?" />
        </form>
    </div>

    <div class="max-w-screen-2xl mx-auto my-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="flex items-center justify-center border-t border-solid border-black py-3">
        <div class="container">
            &copy; 2024 - Linker.Mvc - <a bold asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <email recipient="mumk0313"></email> 
            <square color-class="bg-cyan-500">
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Even though libraries like jQuery are included here, it is not available for other individual pages to use, which is weird. -->
    <partial name="_SomeScriptsPartial" />
</body>
</html>
