@if(TempData[Constants.Success] != null)
{
    <h2 class="mb-4 bg-green-200 border border-solid border-green-400 py-1 px-3 rounded">
        @TempData[Constants.Success]
    </h2>
}

@if(TempData[Constants.Error] != null)
{
    <h2 class="mb-4 bg-red-200 border border-solid border-red-400 py-1 px-3 rounded">
        @TempData[Constants.Error]
    </h2>
}
