@{
    ViewData["Title"] = "Page Not Found";
}

<div class="w-full">
    <p class="text-4xl font-bold font-mono tracking-wide text-center">404</p>
    <p class="text-center">Page Not Found</p>
</div>
