@using Linker.Core.V2.Models
@model Linker.Core.V2.ApiModels.CreateLinkRequest

@{
    ViewData["Title"] = "Create Link";
}

<partial name="_Notification" />

<h1 class="text-2xl font-bold">Create Link</h1>
<p class="text-gray-700">Enter the details below to create a new entry.</p>

<div asp-validation-summary="All" class="text-violet-300"></div>
<div asp-validation-summary="ModelOnly" class="text-red-300"></div>

<div class="my-12">
    <div>
        <form asp-action="Create" class="max-w-screen-md">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" asp-items="Html.GetEnumSelectList<Language>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grammar" class="control-label"></label>
                <select asp-for="Grammar" asp-items="Html.GetEnumSelectList<Grammar>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Grammar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" asp-items="Html.GetEnumSelectList<Rating>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<LinkType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aesthetics" class="control-label"></label>
                <select asp-for="Aesthetics" asp-items="Html.GetEnumSelectList<Aesthetics>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Aesthetics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                <select asp-for="Visibility" asp-items="Html.GetEnumSelectList<Visibility>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <div id="tags-container" class="flex flex-wrap">
                    <input name="Tags" class="form-control" placeholder="Tag Value" />
                    <button id="add-tag-btn" type="button" onclick="return addNewTagInput()" class="bg-black text-white rounded px-2 py-1">Add</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KeyPersonName" class="control-label"></label>
                <input asp-for="KeyPersonName" class="form-control" />
                <span asp-validation-for="KeyPersonName" class="text-danger"></span>
            </div>

            <fieldset class="border border-solid border-black p-2 rounded">
                <legend class="bg-black text-white px-2 py-1 rounded">Metadata</legend>
                <div>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsSubdomain" />
                        <span>@Html.DisplayNameFor(model => model.IsSubdomain)</span>
                    </label>
                </div>
                <div>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsMultilingual" />
                        <span>@Html.DisplayNameFor(model => model.IsMultilingual)</span>
                    </label>
                </div>
                <div>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsResource" />
                        <span>@Html.DisplayNameFor(model => model.IsResource)</span>
                    </label>
                </div>
            </fieldset>
            <div class="my-3 flex">
                <button class="px-4 py-2 bg-black text-white rounded block">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="flex">
    <a asp-action="Index" class="px-4 py-2 bg-black text-white rounded block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_SomeScriptsPartial");}
    <script type="text/javascript">
        function addNewTagInput() {
            var newInput = document.createElement("input");
            newInput.name = "Tags";
            newInput.type = "text";
            newInput.className = "form-control";
            newInput.placeholder = "Tag value";
            $("#add-tag-btn").before(newInput);
        }
    </script>
}
