@model ValueTuple<IEnumerable<Linker.Core.V2.Models.User>, string>

<p class="text-2xl font-semibold text-center mb-4">Invite a User</p>

<form method="post" asp-action="InviteUser" autocomplete="off" spellcheck="false">
    <input hidden type="text" name="workspaceId" value="@Model.Item2" />
    <select name="userId" class="mb-2">
        @foreach (var user in Model.Item1)
        {
            <option value="@user.Id">@user.Username</option>
        }
    </select>
    <div class="flex gap-4 justify-end">
        <button type="submit" class="px-4 py-2 bg-black text-white rounded">Invite</button>
        <button
            type="button"
            class="px-4 py-2 border border-solid border-black rounded"
            onclick="toggleInviteUserDialog()"
        >
            Cancel
        </button>
    </div>
</form>
