@model Linker.Core.Models.Workspace
@{
    ViewData["Title"] = "Workspace details";
}

<partial name="_Notification" />

<article class="mb-10" id="@Html.DisplayFor(model => model.Id)">
    <header class="mb-2">
        <p class="uppercase tracking-wide font-bold text-sm text-gray-300">
            @@@Html.DisplayFor(model => model.Handle)
        </p>

        <h1 class="text-2xl font-bold block">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </header>
    <div>
        <p class="text-gray-700">@Html.DisplayFor(model => model.Description)</p>
    </div>
</article>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a class="px-4 py-2 bg-black text-white rounded" asp-action="Index">Back to List</a>
</div>

