@using Linker.Core.Models
@model Linker.Core.ApiModels.CreateArticleRequest

@{
    ViewData["Title"] = "Create Article";
}

<h1 class="text-lg">Create Article Link</h1>
<p class="text-gray-700">Enter the details below to create a new entry.</p>

<div asp-validation-summary="All" class="text-violet-300"></div>
<div asp-validation-summary="ModelOnly" class="text-red-300"></div>

<div class="my-12">
    <div>
        <form asp-action="Create" class="max-w-screen-md">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" asp-items="Html.GetEnumSelectList<Language>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grammar" class="control-label"></label>
                <select asp-for="Grammar" asp-items="Html.GetEnumSelectList<Grammar>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Grammar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" asp-items="Html.GetEnumSelectList<Rating>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <div id="tags-container" class="flex flex-wrap">
                    <input asp-for="Tags" class="form-control" placeholder="compsci" />
                    <input asp-for="Tags" class="form-control" placeholder="algo" />
                    <input asp-for="Tags" class="form-control" placeholder="book" />
                    <button id="add-tag-btn" type="button">Add</button>
                </div>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="2022" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WatchLater" />
                    <span>@Html.DisplayNameFor(model => model.WatchLater)</span>
                </label>
            </div>
            <div class="my-3 flex">
                <button class="px-4 py-2 bg-black text-white rounded block">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

<div class="flex">
    <a asp-action="Index" class="px-4 py-2 bg-black text-white rounded block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_SomeScriptsPartial");}
    <script type="text/javascript">
        $('#add-tag-btn').on('click', () => console.log('button clicked'));
    </script>
}
